.buileder{
    background-color: rgb(245, 0, 0);
    color: white;
    width: 43%;
    margin-left: 25%;
    padding-bottom: 1%;
    padding-top: 1%;
    padding-left: 7%;
}
.header{
    background-color: black;
    color: white;

}
.container {
    width: 100%;
    display: flex;
    justify-content: center;

  }
.container2{
    display: flex;
    justify-content: center;
}
.backBtn{
    margin-left: 25%;
    border-color: red;
    border-radius:50px;
    color: white;
    background-color: red;
}
table {
    width: 50%;
    /* border: 1px solid black; */
    /* overflow-x: auto;
    overflow-y: hidden; */
    /* min-width: 500px; */
    border: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

  }
  td, th {
    text-align: left;
    padding: 8px;
  }
  th{
    color: red;
  }
  tr:nth-child(odd) {
    background-color: rgb(241, 241, 233);
  }
