<button (click)="back()" class="backBtn">
  <i class="fa-solid fa-arrow-left"></i>
</button>

<div>
  <h3 class="buileder">Make It A Bet Builder?</h3>
</div>

<div class="container" align="center">
  <div style="width: 25%; background-color: red; color: white; padding-top: 1%; padding-bottom: 1%;">{{headerDate |
    date: 'MMM dd, YYYY'}} <br> {{headerDate | date: 'hh:mm'}}</div>
  <div style="width: 25%; background-color: black; color: white; padding-top: 1%; padding-bottom: 1%;">{{matchName}}
    <br>{{leagName}}
  </div>
</div>

<div class="container2">
  <div style="display: flex;">
    <p>Market : </p>
    <select (change)="onMarketSelectionChange($event)" style="    float: right;
    height: 27px;
    width: 167px;
    margin-right: 22px;
    margin-top: 12px;">
      <option *ngFor="let market of marketArray" [value]="market.MarketId">{{ market.MarketName }}</option>
    </select>
  </div>
  <div style="display: flex;">
    <p>Selection : </p>
    <select (change)="onLegSelectionChange($event)" style="    float: right;
      height: 27px;
      width: 167px;
      margin-right: 22px;
      margin-top: 12px;">
      <option *ngFor="let leg of legsArray" [value]="leg.selectionId">{{ leg.selectionValue }}</option>
    </select>
  </div>
</div>
<div style="margin-left: 30%;">
  <p>Bet Builder Odds: {{betBuilderArray.TotalOdds}}</p>
</div>

<table align="center">
  <tr>
    <th style="border-top-left-radius: 20px;">Pick</th>
    <th>Market</th>
    <th>Outcome</th>
    <th style="border-top-right-radius: 20px;">Ket Stats</th>
  </tr>

  <tr *ngFor="let element of betBuilderArray.BetBuilderSelections; let i=index">
    <td >{{i+1}}</td>
    <td>{{ element.Market }}</td>
    <td>{{ element.Selection}}</td>
    <td>{{element.RTB}}</td>
  </tr>
</table>